<!-- start of the header wrapper -->
<table cellspacing="0" cellpading="0" border="0" width="100%" class="countur">
  <tr>
    <td  width="80px"><img src="/public/images/logo.png"></td>
    <td class="logo-text">SABLE Asset Suite<br /><span class="slogan">Asset Management System</span></td>
  </tr>
</table>

<!-- end of the header wrapper -->