<div data-role="page" class="type-index">
  <div data-role="header" data-theme="b">
    <h1>Authenticate</h1>
  </div><!-- /header -->

  <div data-role="content">
    <div align="center" style="height:150px; margin-top: 100px;">
      <img src="/public/images/ajax-loader.gif"/>
    </div>
 </div><!-- /ui-body wrapper -->

</div><!-- /page -->

